.heroTitle {
  margin-top: 0;
  text-align: center;
  font-family: 'Bungee Spice', cursive;
  color: #98bae7;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
