.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.inputForm {
  padding-left: 10px;
  height: 30px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px, 6px 0px 0px #e2fe2b;
}

.btn {
  cursor: pointer;
  margin-left: 25px;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-image: url(./search.png);
  font-family: 'Bungee Spice', cursive;
  color: #98bae7;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
